Options +FollowSymlinks

RewriteEngine On
# La ruta es despues de la carpeta donde se encuentra "htdoc".
RewriteBase /Ejemplos/Curso-PHP-POO/Mexflix  

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ index.php?r=$1 [L]
